build/
build_static/
.vs/
*.user
*.suo
*.sln
*.vcxproj*
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
compile_commands.json
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.pch
*.idb
*.ipch
out/
x64/
Debug/
Release/
*.exe
*.dll
hyperion_layout.ini
imgui.ini
CONTRIBUTING.md
SKILL.md

# vcpkg
vcpkg_installed/
vcpkg-manifest-install.log
vcpkg-configuration.json
*.hdb
hyperion_recent.txt
hyperion_settings.ini
hyperion_keybinds.ini